    .search-bar-form {
    display: flex;
    align-items: center;
    margin-left: 2rem; /* Tách khỏi các link bên trái */
}

.search-bar-input {
    padding: 0.5rem 0.75rem;
    font-size: 0.95rem;
    border: 1px solid #555; /* Viền tối màu trên nền Navbar */
    border-radius: 5px 0 0 5px; /* Bo tròn góc trái */
    background-color: #f1f1f1;
    color: #333;
    min-width: 250px;
}
.search-bar-input:focus {
    outline: none;
    border-color: #007bff;
}

.search-bar-button {
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0; /* Bo tròn góc phải */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar-button:hover {
    background-color: #0056b3;
}